<div class="car-container">
  <div class="car-header">
    <h1>Autovehiculele mele</h1>
  </div>
  <br />
  <table class="car-table" *ngIf="CarsList && CarsList.length > 0">
    <caption>
      Număr autovehicule:
      {{
        CarsList.length
      }}
    </caption>
    <th></th>
    <tbody class="car-table-body">
      <tr *ngFor="let car of CarsList">
        <td>
          <i class="fas fa-car-side"></i>
          <span> {{ car.carName }}</span>
        </td>
        <td>
          <button
            class="show_car"
            type="submit"
            (click)="showCar(car.carID.toString())"
          >
            Vezi autovehicul
          </button>
          <button
            class="edit_car"
            type="submit"
            (click)="editCar(car.carID.toString())"
          >
            Modifică autovehicul
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
