form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    
    .form-group {
      width: 100%;
      margin-bottom: 1rem;
      
      label {
        font-weight: bold;
        margin-bottom: 0.5rem;
      }
      
      input {
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 0.25rem;
        border: none;
        box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25);
        
        &:focus {
          outline: none;
          box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
        }
      }
    }
    
    button[type="submit"] {
      background-color: #007bff;
      color: #fff;
      padding: 0.5rem 1rem;
      border-radius: 0.25rem;
      border: none;
      font-size: 1rem;
      margin-top: 1rem;
      cursor: pointer;
      
      
      &:hover {
        background-color: #0069d9;
      }
    }
  }
  
  .adduser-container {
    width: 80%;
    margin: auto;

    .adduser-header {
      text-align: center;
      background:#263238 ;
      border-radius: 30px;
      margin-bottom: 50px;
      padding: 1rem;
      
      h1 {
        font-size: 2rem;
        color: #fff;
      }
  }
}