.profile-container {
    width: 80%;
    margin: 0 auto;
    
    .profile-header {
      text-align: center;
      background:#263238 ;
      border-radius: 30px;
      margin-bottom: 50px;
      padding: 1rem;
      
      h1 {
        font-size: 2rem;
        color: #fff;
      }
    }
    
    .profile-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      
      .profile-item {
        flex-basis: 45%;
        margin-bottom: 1rem;
        padding: 25px;
        
        i {
          font-size: 1.5rem;
          margin-right: 0.5rem;
        }
      }
      
    }
  }
  