<div class="profile-container">
  <div class="profile-header">
    <h1><i class="fas fa-user"></i> My account</h1>
  </div>

  <div class="profile-content" *ngIf="User">

    <div class="profile-item">
      <i class="fas fa-circle-user"></i>
      <span>Username: {{User.userName}}</span>
    </div>

    <div class="profile-item">
      <i class="fas fa-user"></i>
      <span>Full name: {{User.firstName}} {{User.lastName}}</span>
    </div>

    <div class="profile-item">
      <i class="fas fa-calendar-alt"></i>
      <span>Birthday: {{User.dateOfBirth}}</span>
    </div>

    <div class="profile-item">
      <i class="fas fa-car"></i>
      <span>Car assigned: {{User.carID}}</span>
    </div>

    <div class="profile-item">
      <i class="fas fa-envelope"></i>
      <span>Email: {{User.email}}</span>
    </div>

    <div class="profile-item">
      <i class="fas fa-venus-mars"></i>
      <span>Gender: {{User.gender}}</span>
    </div>

    <div class="profile-item">
      <i class="fas fa-phone"></i>
      <span>Phone: {{User.phone}}</span>
    </div>

    <div class="profile-item">
      <i class="fas fa-user-gear"></i>
      <span>Role: {{User.role}}</span>
    </div>

  </div>
</div>
