<div class="settings-container">
  <div class="settings-header">
    <h1>Settings</h1>
  </div>
  <br /><br />

  <div class="settings-content">
    <div class="settings-item">
      <i class="fas fa-circle-half-stroke"></i>
      <span> Dark Theme </span>
      <br />
      <br />
      <ng-toggle
        [value]="true"
        [color]="{
          unchecked: '#939da2',
          checked: '#2E8B57'
        }"
        class="toggle-theme"
      >
      </ng-toggle>
    </div>

    <div class="settings-item">
      <i class="fas fa-bell"></i>
      <span> Notifications </span>
      <br />
      <br />
      <ng-toggle
        [value]="true"
        [color]="{
          unchecked: '#939da2',
          checked: '#2E8B57'
        }"
        class="toggle-notifications"
      >
      </ng-toggle>
    </div>

    <div class="settings-item">
      <i class="fas fa-user-pen"></i>
      <span> See account </span>
      <br />

      <button type="submit" class="profile" (click)="goToProfile()">
        See account
      </button>
    </div>

    <div class="settings-item">
      <i class="fas fa-sign-out"></i>
      <span> Log Out </span>
      <br />

      <button type="submit" class="logOut" (click)="logout()">Log Out</button>
    </div>
  </div>
</div>
