.settings-container {
  width: 80%;
  margin: 0 auto;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;

  .settings-header {
    text-align: center;

    h1 {
      font-size: 2rem;
    }
  }

  .settings-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .settings-item {
      flex-basis: 45%;
      margin-bottom: 1rem;
      min-width: 20rem;
      padding: 25px;

      i {
        font-size: 1.5rem;
        margin-right: 0.5rem;
      }
    }
  }
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  font-size: 1rem;
  margin-top: 1rem;
  cursor: pointer;

  &:hover {
    background-color: #0069d9;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
