<div class="container1">
  <div class="search-container">
    <input
      type="text"
      class="search-input"
      placeholder="Caută autovehicul după VIN, Număr de înmatriculare sau după Nume..."
      [(ngModel)]="searchQuery"
      (keyup.enter)="searchCar()"
    />
  </div>
  &nbsp; &nbsp; &nbsp;
  <div class="sort-container">
    <select
      class="sort-dropdown"
      [(ngModel)]="selectedSortOption"
      (change)="onSortOptionSelected($event)"
    >
      <option *ngFor="let option of sortOptions" [value]="option">
        {{ option }}
      </option>
    </select>
  </div>
</div>

<div class="filters-btn" *ngIf="showFilters">
  <button type="button" class="show-filters-button" (click)="toggleFilters()">
    Filtre <i class="fa-solid fa-angle-up"></i>
  </button>
</div>

<div class="filters-btn" *ngIf="!showFilters">
  <button type="button" class="show-filters-button" (click)="toggleFilters()">
    Filtre <i class="fa-solid fa-angle-down"></i>
  </button>
</div>

<div class="filter-wrapper">
  <div class="filters" *ngIf="showFilters">
    <div class="filter-container">
      <div class="filter-container">
        <button type="submit" class="filter-button" (click)="filter('all')">
          Toate
        </button>
      </div>

      <div class="filter-container">
        <button
          type="submit"
          class="filter-button"
          id="filter-button-green"
          (click)="filter('free')"
        >
          Libere
        </button>
        <button
          type="submit"
          class="filter-button"
          id="filter-button-red"
          (click)="filter('taken')"
        >
          Luate
        </button>
      </div>

      <div class="filter-container">
        <button
          type="submit"
          class="filter-button"
          id="filter-button-green"
          (click)="filter('iVAL')"
        >
          Inspecție Periodică Valabilă
        </button>
        <button
          type="submit"
          class="filter-button"
          id="filter-button-red"
          (click)="filter('iEXP')"
        >
          Inspecție Periodică Expirată
        </button>
      </div>

      <div class="filter-container">
        <button
          type="submit"
          class="filter-button"
          id="filter-button-green"
          (click)="filter('vVAL')"
        >
          Vinietă Valabilă
        </button>
        <button
          type="submit"
          class="filter-button"
          id="filter-button-red"
          (click)="filter('vEXP')"
        >
          Vinietă Expirată
        </button>
      </div>

      <div class="filter-container">
        <button
          type="submit"
          class="filter-button"
          id="filter-button-green"
          (click)="filter('aVAL')"
        >
          Asigurare Valabilă
        </button>

        <button
          type="submit"
          class="filter-button"
          id="filter-button-red"
          (click)="filter('aEXP')"
        >
          Asigurare Expirată
        </button>
      </div>

      <div class="filter-container">
        <button
          type="submit"
          class="filter-button"
          id="filter-button-green"
          (click)="filter('mBUNA')"
        >
          Stare BUNĂ
        </button>
        <button
          type="submit"
          class="filter-button"
          id="filter-button-orange"
          (click)="filter('mOK')"
        >
          Stare OK
        </button>
        <button
          type="submit"
          class="filter-button"
          id="filter-button-red"
          (click)="filter('mREA')"
        >
          Stare REA
        </button>
      </div>
    </div>

    <!-- Other filter buttons... -->
  </div>
</div>

<div class="filter-wrapper">
  <div class="filters"></div>
</div>

<div class="car-container">
  <div class="car-header">
    <h1>Autovehiculele organizației mele</h1>
  </div>
  <br />

  <table class="car-table" *ngIf="CarsList && CarsList.length > 0">
    <caption>
      Număr autovehicule:
      {{
        CarsList.length
      }}
    </caption>
    <th></th>
    <tbody class="car-table-body">
      <tr *ngFor="let car of CarsList">
        <td>
          <i class="fas fa-car-side"></i>
          <span> {{ car.carName }}</span>
        </td>
        <td>
          <button
            class="show_car"
            type="submit"
            (click)="showCar(car.carID.toString())"
          >
            Vezi autovehicul
          </button>
          <button
            class="edit_car"
            type="submit"
            (click)="editCar(car.carID.toString())"
          >
            Moficică autovehicul
          </button>
          <button
            class="delete_car"
            type="submit"
            (click)="deleteCar(car.carID.toString())"
          >
            Șterge autovehicul
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
