<div class="carlist-container">
  <div class="carlist-header">
    <h1>Organisation Cars</h1>
  </div>
  <br />
  <table class="carlist-table" *ngIf="CarsList && CarsList.length > 0">
    <tbody class="carlist-table-body">
      <tr *ngFor="let car of CarsList">
        <td>
          <i class="fas fa-car-side"></i>
          <span> {{ car.carName }}</span>
        </td>
        <td>
          <button class="show_car" type="submit" (click)="showCar(car.carID?.toString())">
            See car
          </button>
          <button class="edit_car" type="submit">Edit car</button>
          <button class="delete_car" type="submit">Delete car</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
