<div class="start-container">
  <div class="start-header">
    <h1>Welcome to monit<span class="kars">Kars</span></h1>
  </div>
  <br /><br />

  <div class="start-content">
    <div class="start-item">
      <i class="fas fa-right-to-bracket"></i>
      <span> Access organisation </span>
      <br />

      <button type="submit" class="changepass" (click)="goToAccess()">
        Access
      </button>
    </div>

    <div class="start-item">
      <i class="fas fa-folder-plus"></i>
      <span> Register organisation </span>
      <br />

      <button type="submit" class="changepass" (click)="goToRegister()">
        Register
      </button>
    </div>
  </div>
</div>
