form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;

  .form-group {
    width: 100%;
    margin-bottom: 1rem;

    label {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    input {
      padding: 0.5rem;
      font-size: 1rem;
      border-radius: 0.25rem;
      border: none;
      width: 60vw;
      box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25);

      &:focus {
        outline: none;
        box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
      }
    }
  }

  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
    font-size: 1rem;
    margin-top: 1rem;
    cursor: pointer;

    &:hover {
      background-color: #0069d9;
    }
  }

  $select-background-color: #ffffff;
  $select-border-color: #d9d9d9;
  $select-font-color: #333;
  $select-arrow-color: #666;

  .select {
    position: relative;
    display: inline-block;
    border: 1px solid $select-border-color;
    border-radius: 4px;
    background-color: $select-background-color;
    color: $select-font-color;
    padding: 8px 16px;
    font-size: 16px;
    width: 60vw;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 12px;
      transform: translateY(-50%);
      border-style: solid;
      border-width: 6px 6px 0 6px;
      border-color: $select-arrow-color transparent transparent transparent;
    }

    &:hover {
      background-color: #e6e6e6;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
    }

    &.active {
      background-color: #fff;
      border-color: #a1a1a1;

      &::after {
        border-color: transparent transparent $select-arrow-color transparent;
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  .select-options {
    position: absolute;
    top: calc(100% + 8px);
    left: -1px;
    right: -1px;
    z-index: 999;
    padding: 8px 0;
    border: 1px solid $select-border-color;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;

    &.active {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.addcar-container {
  width: 80%;
  margin: auto;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;

  .addcar-header {
    text-align: center;
    background: #263238;
    border-radius: 30px;
    margin-bottom: 50px;
    padding: 1rem;

    h1 {
      font-size: 2rem;
      color: #fff;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
