<div class="profile-container">
  <div class="profile-header">
    <h1>Username</h1>
    <br><br>
  </div>

  <div class="profile-content">

    <div class="profile-item">
      <i class="fas fa-user"></i>
      <span> First Name Last Name</span>
    </div>

    <div class="profile-item">
      <i class="fas fa-calendar-alt"></i>
      <span> Date of birth</span>
    </div>

    <div class="profile-item">
      <i class="fas fa-car"></i>
      <span> Number of cars</span>
    </div>

    <div class="profile-item">
      <i class="fas fa-envelope"></i>
      <span> Email</span>
    </div>

    <div class="profile-item">
      <i class="fas fa-venus-mars"></i>
      <span> Gender</span>
    </div>

    <div class="profile-item">
      <i class="fas fa-road"></i>
      <span> Distance driven</span>
    </div>

  </div>
</div>
