<div class="profile-container">
  <div class="profile-header">
    <h1><i class="fas fa-user"></i> My account</h1>
  </div>

  <div class="profile-content">

    <div class="profile-item">
      <i class="fas fa-circle-user"></i>
      <span>Username: admin</span>
    </div>

    <div class="profile-item">
      <i class="fas fa-user"></i>
      <span>Full name: Andrei Rosu</span>
    </div>

    <div class="profile-item">
      <i class="fas fa-calendar-alt"></i>
      <span>Birthday: 08/09/2000</span>
    </div>

    <div class="profile-item">
      <i class="fas fa-car"></i>
      <span>Car assigned: 11</span>
    </div>

    <div class="profile-item">
      <i class="fas fa-envelope"></i>
      <span>Email: andumarius9@gmail.com</span>
    </div>

    <div class="profile-item">
      <i class="fas fa-venus-mars"></i>
      <span>Gender: Male</span>
    </div>

    <div class="profile-item">
      <i class="fas fa-phone"></i>
      <span>0761111111</span>
    </div>

    <div class="profile-item">
      <i class="fas fa-user-gear"></i>
      <span>Role: Administrator</span>
    </div>

  </div>
</div>
