<div class="profile-container">
  <div class="profile-header">
    <h1><i class="fas fa-user"></i> My account</h1>
  </div>

  <div class="profile-content" *ngIf="user">

    <div class="profile-item">
      <i class="fas fa-circle-user"></i>
      <span>Username: {{user.userName}}</span>
    </div>

    <div class="profile-item">
      <i class="fas fa-user"></i>
      <span>Full name: {{user.firstName}} {{user.lastName}}</span>
    </div>

    <div class="profile-item">
      <i class="fas fa-calendar-alt"></i>
      <span>Birthday: {{user.dateOfBirth}}</span>
    </div>

    <div class="profile-item">
      <i class="fas fa-car"></i>
      <span>Car assigned: {{user.carID}}</span>
    </div>

    <div class="profile-item">
      <i class="fas fa-envelope"></i>
      <span>Email: {{user.email}}</span>
    </div>

    <div class="profile-item">
      <i class="fas fa-venus-mars"></i>
      <span>Gender: {{user.gender}}</span>
    </div>

    <div class="profile-item">
      <i class="fas fa-phone"></i>
      <span>Phone: {{user.phone}}</span>
    </div>

    <div class="profile-item">
      <i class="fas fa-user-gear"></i>
      <span>Role: {{user.role}}</span>
    </div>

  </div>
</div>
