<div class="settings-container">
  <div class="settings-header">
    <h1>Setări</h1>
  </div>
  <br /><br />

  <div class="settings-content">
    <div class="settings-item">
      <button type="submit" class="setting_button" (click)="goToProfile()">
        <i class="fas fa-user-pen"></i>
        <span> Profil </span>
        <br />
      </button>
    </div>

    <div class="settings-item">
      <button type="submit" class="setting_button" (click)="logout()">
        <i class="fas fa-sign-out"></i>
        <span> Ieși din cont </span>
      </button>
    </div>
  </div>
</div>
