<div class="styled-container">
  <div class="styled-header">
    <h1>Setări</h1>
  </div>
  <br /><br />

  <div class="profile">
    <h1><i class="fas fa-user"></i></h1>
    <h2>{{ user.name }}</h2>
    <h5>Nume de utilizator: {{ user.preferred_username }}</h5>
    <h5>Organizație: {{ organisation }}</h5>
    <h5>Rol: {{ role }}</h5>
  </div>

  <div class="settings-content">
    <div class="settings-item">
      <button type="submit" class="setting_button" (click)="goToProfile()">
        <i class="fas fa-user-pen"></i>
        <span> Profil </span>
        <br />
      </button>
    </div>

    <div class="settings-item" id="b2">
      <button type="submit" class="setting_button" (click)="logout()">
        <i class="fas fa-sign-out"></i>
        <span> Ieși din cont </span>
      </button>
    </div>
  </div>
</div>
