<div class="registration-container">
  <div class="registration-header">
 <h1>Register your organisation</h1>
 </div>

  <form [formGroup]="rForm" class="registration-form">

    <div class="form-group">
      <label for="orgName">Organisation name</label>
      <br><br>
      <input type="text" id="orgName" name="orgName" formControlName="orgName">
    </div>

    <div class="form-group">
      <label for="orgAddress">Organisation address</label>
      <br><br>
      <input type="text" id="orgAddress" name="orgAddress" formControlName="orgAddress">
    </div>

    <div class="form-group">
      <label for="orgMail">Organisation mail</label>
      <br><br>
      <input type="text" id="orgMail" name="orgMail" formControlName="orgMail">
    </div>

    <div class="form-group">
      <label for="orgPhone">Organisation phone number</label>
      <br><br>
      <input type="text" id="orgPhone" name="orgPhone" formControlName="orgPhone">
    </div>

    <div class="form-group">
      <label for="adminUsername">Admin username</label>
      <br><br>
      <input type="text" id="adminUsername" name="adminUsername" formControlName="adminUsername">
    </div>

    <div class="form-group">
      <label for="adminFirstN">Admin first name</label>
      <br><br>
      <input type="text" id="adminFirstN" name="adminFirstN" formControlName="adminFirstN">
    </div>

    <div class="form-group">
      <label for="adminlastN">Admin last name</label>
      <br><br>
      <input type="text" id="adminlastN" name="adminlastN" formControlName="adminlastN">
    </div>

    <div class="form-group">
      <label for="adminMail">Email admin user</label>
      <br><br>
      <input type="email" id="adminMail" name="adminMail" formControlName="adminMail">
    </div>

    <div class="form-group">
      <label for="adminPhone">Admin phone number</label>
      <br><br>
      <input type="text" id="adminPhone" name="adminPhone" formControlName="adminPhone">
    </div>

    <div class="form-group">
      <label for="adminPass">Password admin user</label>
      <br><br>
      <input type="password" id="adminPass" name="adminPass" formControlName="adminPass">
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirm admin password</label>
      <br><br>
      <input type="password" id="confirmPassword"name="confirmPassword">
    </div>

    <button type="submit" class="form-submit-btn" (click)="register()">Register</button>

  </form>

  </div>