<div class="charts">
  <div class="styled-container">
    <div class="styled-header">
      <h1>Panou principal</h1>
    </div>
  </div>

  <br /><br /><br /><br /><br /><br />
</div>

<div class="charts">
  <app-chart-manufacturers></app-chart-manufacturers>
  <app-chart-free-cars></app-chart-free-cars>
  <app-chart-statuses></app-chart-statuses>
</div>
<br /><br /><br />
<div class="charts">
  <app-chart-insurance></app-chart-insurance>
  <app-chart-inspection></app-chart-inspection>
  <app-chart-vignette></app-chart-vignette>
</div>
<br /><br /><br />
<div class="charts">
  <app-chart-milage></app-chart-milage>
</div>
