<div class="driverslist-container">
    <div class="driverslist-header">
      <h1>My drivers</h1>
    </div>
    <br>
  <table class="driverslist-table">
    <tbody class="driverslist-table-body">
  
      <tr>
        <td>
          <i class="fas fa-user"></i>
          <span> Driver1</span>
        </td>
        <td>
          <button class="show_driver" type="submit">See driver</button>
          <button class="edit_driver" type="submit">Edit driver</button>
          <button class="delete_driver" type="submit">Delete driver</button>
        </td>
      </tr>

      <tr>
        <td>
          <i class="fas fa-user"></i>
          <span> Driver2</span>
        </td>
        <td>
          <button class="show_driver" type="submit">See driver</button>
          <button class="edit_driver" type="submit">Edit driver</button>
          <button class="delete_driver" type="submit">Delete driver</button>
        </td>
      </tr>

      <tr>
        <td>
          <i class="fas fa-user"></i>
          <span> Driver3</span>
        </td>
        <td>
          <button class="show_driver" type="submit">See driver</button>
          <button class="edit_driver" type="submit">Edit driver</button>
          <button class="delete_driver" type="submit">Delete driver</button>
        </td>
      </tr>

  
        </tbody>
      </table>
      </div>
      
  