<div class="driverslist-container">
    <div class="driverslist-header">
      <h1>My drivers</h1>
    </div>
    <br>
  <table class="driverslist-table">
    <tbody class="driverslist-table-body">
  
      <tr>
        <td>
          <i class="fas fa-user"></i>
          <span> Driver1</span>
        </td>
        <td>Go to driver</td>
      </tr>

      <tr>
        <td>
          <i class="fas fa-user"></i>
          <span> Driver2</span>
        </td>
        <td>Go to driver</td>
      </tr>

      <tr>
        <td>
          <i class="fas fa-user"></i>
          <span> Driver3</span>
        </td>
        <td>Go to driver</td>
      </tr>

  
        </tbody>
      </table>
      </div>
      
  