<div class="driverslist-container">
    <div class="driverslist-header">
      <h1>My drivers</h1>
    </div>
    <br>
  <table class="driverslist-table" *ngIf="drivers && drivers.length > 0">
    <tbody class="driverslist-table-body">
  
      <tr *ngFor="let driver of drivers">
        <td>
          <i class="fas fa-user"></i>
          <span>{{driver.userID}} - {{driver.firstName}} {{driver.lastName}}</span>
        </td>
        <td>
          <button class="show_driver" type="submit">See driver</button>
          <button class="edit_driver" type="submit">Edit driver</button>
          <button class="delete_driver" type="submit">Delete driver</button>
        </td>
      </tr>
  
        </tbody>
      </table>
      </div>
      
  