<div class="homepage-container">
  <img src="../../../assets/icon_main.ico" alt="icon" />
  <br />
  <h1 class="homepage-title">monit<span class="kars">Kars</span></h1>
  <p class="homepage-subtitle">
    Gestionați Autovehiculele din Organizația Dumneavoastră
  </p>
  <div class="homepage-content">
    <p class="homepage-description">
      &nbsp;&nbsp;&nbsp;&nbsp;
      <strong>monit<span class="kars">Kars</span></strong> este un sistem
      cuprinzător de gestionare a mașinilor conceput pentru a ajuta
      organizațiile să urmărească și să monitorizeze eficient flota de vehicule.
      <br /><br />

      &nbsp;&nbsp;&nbsp;&nbsp;Cu
      <strong>monit<span class="kars">Kars</span></strong
      >, puteți centraliza toate lucrurile importante:
      <strong
        >asigurările, inspecțiile periodice, vinieta, starea în care se prezintă
        un autovehicul</strong
      >
      dar și <strong>detaliile tehnice ale autovehiculelor</strong>. <br />
      <br />
    </p>

    <h3>
      Mențineți organizarea și simplificați procesele de gestionare a
      autovehiculelor cu <strong>monit<span class="kars">Kars</span></strong
      >.
    </h3>
  </div>
</div>
